@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-primaria: #F3F5FC;
    --color-secundaria: #0A3871;
    --color-terciaria: #D8DFE8;
    --color-cuarto: #495057;

    --fuente1: 'Inter', sans-serif;
}

html,body{
    height: 100%;
    width: 100%; /* Asegura que el html y el body ocupen el 100% de la altura de la ventana */
    margin: 0;    /* Elimina el margen por defecto */
    padding: 0;   /* Elimina el relleno por defecto */
}

body{
    display: flex;
    flex-direction: column-reverse;
    align-items: normal;
    justify-items: center;
    background-color: var(--color-primaria);
    color: var(--color-secundaria);    
}

.contenedor{    
    height: 95%;
    display: flex;
    justify-content: space-between;
    margin: 1%;
    flex-direction: row;
}

footer{
    display: flex;
    flex-direction: row;
    height: 5%;
    width: 100%;
    background-color: var(--color-secundaria);
    color: var(--color-terciaria);
    font-family: var(--fuente1);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    position:fixed;   
    align-items: center;     
    justify-content: center;
}

.logo{
    width: 10%;
}

.ingresotexto{
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 60%; 
    height: 90%;
    max-height: 90%;
    border: 1px solid #0A3871; /* Borde del recuadro */
}

.ingresotexto__sup{
    height: 80%;
    width: 100%;  
    border: 1px solid #0A3871; /* Borde del recuadro */
}
.ingresotexto__inf{
    height: 20%;
    width: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    border: 1px solid #0A3871; /* Borde del recuadro */
}

textarea::placeholder{
    color: var(--color-secundaria);
}

.ingresotexto__sup__input {
    background-color: var(--color-primaria);
    height: 97%;
    width: 99%;  
    font-family: var(--fuente1);
    color: var(--color-secundaria);
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
    overflow-wrap: break-word;
    resize: none;
    border: 1px solid #0A3871; /* Borde del recuadro */
}

.ingresotexto__inf__mensaje{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--fuente1);
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 400; 
    text-align: left;
    color: var(--color-cuarto);
    border: 1px solid #0d4716; /* Borde del recuadro */
}

.ingresotexto__inf__botones{
    width: 100%; 
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; 
    border: 1px solid #711f0a; /* Borde del recuadro */
}

button {
    transition: 500ms;
}

.ingresotexto__inf__botones__boton1{    
    background-color: var(--color-secundaria);
    color: var(--color-terciaria);
    text-align: center;
    font-size: 1rem;
    height: 5rem;
    width: 45%;
    border: 1px solid var(--color-secundaria); 
    border-radius: 2rem; 
}
.ingresotexto__inf__botones__boton1:disabled{
    background-color: var(--color-cuarto);
}

.ingresotexto__inf__botones__boton2{
    background-color: var(--color-terciaria);
    color: var(--color-secundaria);
    text-align: center;
    font-size: 1rem;
    height: 5rem;    
    width: 45%;
    border: 1px solid var(--color-secundaria); 
    border-radius: 2rem; 
}

.ingresotexto__inf__botones__boton2:disabled{
    background-color: var(--color-cuarto);
    color: var(--color-terciaria);
}
.mostrartexto{
    width: 30%;  
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin: 0% 5% 0% 5%;
    border: 1px solid rgb(163, 20, 20); 
    border-radius: 2rem; 
    box-shadow: 1px 1px 20px 10px var(--color-terciaria);
}

.mostrartexto__sinresultado{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 95%;
    max-height: 100%;
    font-family: var(--fuente1);    
    overflow-wrap: break-word;
    text-align: center;
    color: var(--color-secundaria);    
    border: 1px solid #0A3871; /* Borde del recuadro */
}

.mostrartexto__sinresultado__imagen{
    max-width: 95%;
    height: auto; 
}

.mostrartexto__sinresultado__titulo{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight:bold;
    color: var(--color-cuarto);
}

.mostrartexto__sinresultado__subtitulo{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;  
    color: var(--color-cuarto);   
}

.mostrartexto__conresultado{
    display: none;
    flex-direction: column;
    margin: 0% 5% 0% 5%;
    width: 80%;
    height: 100%;
    background-color: white;
    border: 1px  #2c2a8f; 
    border-radius: 2rem; 
    align-items: center;
}

.mostrartexto__conresultado__sup{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    border: 1px solid #0A3871; /* Borde del recuadro */
}

.mostrartexto__conresultado__inf{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #0A3871; /* Borde del recuadro */
}

.mostrartexto__conresultado__texto{
    height: 100%;
    font-family: var(--fuente1);
    color: var(--color-cuarto);
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 400;
    text-align: left;
    overflow-wrap: break-word;
    border: 1px solid #0A3871; /* Borde del recuadro */
}

.mostrartexto__conresultado__botoncopiar{
    background-color: white;
    color: var(--color-secundaria);
    text-align: center;
    font-size: 1rem;
    height: 5rem;
    width: 80%;
    border: 1px solid var(--color-secundaria); 
    border-radius: 2rem; 
}

@media (max-width:1200px){

    html,body{
        display: flex;
        height: auto;
        width: 100%;
    }
    footer{
        height: 30px;
        position: fixed;
        bottom: 0%;
        left: 0%;        
    }
    .contenedor{
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 30px;
        padding: 15px;
    }
    .logo{
        height: 150px;
        justify-self: start;        
    }
    .ingresotexto{
        width: auto;
        height: auto;
        margin-bottom: 60px;
    }
    .mostrartexto{
        width: auto;
        height: auto;
        border-radius: 1.5rem; 
        box-shadow: -1px 10px 15px 10px var(--color-terciaria);
    }
    .ingresotexto__sup{
        height: 500px;
        width: auto;
    }
    .ingresotexto__inf{
        height: auto;
        width: auto;
    }
    .ingresotexto__inf__botones{
        justify-content: space-around;
    }
    .ingresotexto__inf__botones__boton1,
    .ingresotexto__inf__botones__boton2{
        height: 4rem;
        border-radius: 1.5rem;
    }
    .mostrartexto{
        margin: 0%;
    }
    .mostrartexto__sinresultado__imagen{
        display: none;
    }
    .mostrartexto__conresultado{
        height: auto;
        width: 90%;
        margin-bottom: 2rem;
    }



}