@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --color-primaria: #F3F5FC;
    --color-secundaria: #1c4946;
    --color-terciaria: #e5f3f2;
    --color-cuarto: #491c1f;
    --fuente1: 'Mulish', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    margin: 0;    /* Elimina el margen por defecto */
    padding: 0;   /* Elimina el relleno por defecto */
}

body{       
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: var(--color-primaria);
    color: var(--color-secundaria);    
}

.contenedor{    
    max-width: 1400px;  
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 40px;
    flex-direction: row;
}

footer{
    display: flex;
    flex-direction: row;
    height: 5%;
    width: 100%;
    background-color: var(--color-secundaria);
    color: var(--color-terciaria);
    font-family: var(--fuente1);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    position:fixed;   
    align-items: center;     
    justify-content: center;
    bottom: 0%;
    left: 0%;   
}

.logo{
    width: 10%;
    height: fit-content;
    display: flex;
}

.logo img{
    inline-size: -webkit-fill-available;   
}

.ingresotexto{
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-right: 3%;
    width: 55%; 
    height: 82%;
}

.ingresotexto__sup{
    height: 80%;
    width: auto;  
}
.ingresotexto__inf{
    height: 20%;
    width: auto;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

textarea::placeholder{
    color: var(--color-secundaria);
}

.ingresotexto__sup__input {
    background-color: var(--color-primaria);
    height: 97%;
    width: 99%;  
    font-family: var(--fuente1);
    color: var(--color-secundaria);
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
    text-align: left;
    overflow-wrap: break-word;
    resize: none;
    border: 1px  #0A3871; 
}

.ingresotexto__inf__mensaje{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--fuente1);
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400; 
    text-align: left;
    color: var(--color-cuarto);
}

.ingresotexto__inf__botones{
    width: 100%; 
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

button {
    transition: 500ms;
}

.ingresotexto__inf__botones__boton1{    
    background-color: var(--color-secundaria);
    color: var(--color-terciaria);
    text-align: center;
    font-size: 1rem;
    height: 4rem;
    width: 45%;
    border: 1px solid var(--color-secundaria); 
    border-radius: 1.5rem; 
}
.ingresotexto__inf__botones__boton1:disabled{
    background-color: var(--color-cuarto);
}

.ingresotexto__inf__botones__boton2{
    background-color: var(--color-terciaria);
    color: var(--color-secundaria);
    text-align: center;
    font-size: 1rem;
    height: 4rem;    
    width: 45%;
    border: 1px solid var(--color-secundaria); 
    border-radius: 1.5rem; 
}

.ingresotexto__inf__botones__boton2:disabled{
    background-color: var(--color-cuarto);
    color: var(--color-terciaria);
}
.mostrartexto{
    width: 35%;  
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 2rem; 
    box-shadow: 1px 1px 20px 10px var(--color-terciaria);
}

.mostrartexto__sinresultado{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 95%;
    max-height: 100%;
    font-family: var(--fuente1);    
    overflow-wrap: break-word;
    text-align: center;
    color: var(--color-secundaria);    
}

.mostrartexto__sinresultado__imagen{
    max-width: 95%;
    height: auto; 
}
.mostrartexto__sinresultado__imagen img {
    inline-size: -webkit-fill-available;
}

.mostrartexto__sinresultado__titulo{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight:bold;
    color: var(--color-cuarto);
}

.mostrartexto__sinresultado__subtitulo{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;  
    color: var(--color-cuarto);   
}

.mostrartexto__conresultado{
    display: none;
    flex-direction: column;
    margin: 0% 5% 0% 5%;
    width: 80%;
    height: 100%;
    background-color: white;
    border: 1px ; 
    border-radius: 2rem; 
    align-items: center;
}

.mostrartexto__conresultado__sup{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.mostrartexto__conresultado__inf{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mostrartexto__conresultado__texto{
    height: 100%;
    font-family: var(--fuente1);
    color: var(--color-cuarto);
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 400;
    text-align: left;
    overflow-wrap: break-word;
    overflow-y: scroll;
}

.mostrartexto__conresultado__botoncopiar{
    background-color: white;
    color: var(--color-secundaria);
    text-align: center;
    font-size: 1rem;
    height: 4rem;
    width: 80%;
    border: 1px solid var(--color-secundaria); 
    border-radius: 1.5rem; 
}

@media (max-width:800px){

    html,body{
        display: flex;
        height: auto;
        width: 100%;
    }
    footer{
        height: 30px;     
    }
    .contenedor{
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
        margin-top: 30px;
        margin-right: 30px;
        padding: 15px;
    }
    .logo{
        width: 20%;    
    }
    .ingresotexto{
        width: auto;
        height: auto;
        margin-bottom: 40px;
        padding-right: 0%;
    }
    .mostrartexto{
        width: auto;
        height: auto;
        border-radius: 1.5rem; 
        box-shadow: -1px 10px 15px 10px var(--color-terciaria);
    }
    .ingresotexto__sup{
        height: 500px;
        width: auto;
    }
    .ingresotexto__inf{
        height: auto;
        width: auto;
    }
    .ingresotexto__inf__botones{
        justify-content: space-around;
    }
    .ingresotexto__inf__botones__boton1,
    .ingresotexto__inf__botones__boton2{
        height: 4rem;
        border-radius: 1.5rem;
    }
    .mostrartexto__sinresultado__imagen{
        display: none;
    }
    .mostrartexto__conresultado{
        height: auto;
        width: 90%;
        margin-bottom: 1rem;
    }
    .mostrartexto__conresultado__sup{
        height: auto;
    }
    .mostrartexto__conresultado__inf{
        height: auto;
    }
    .mostrartexto__conresultado__botoncopiar{
        width: 90%;
    }
}

@media (max-width:480px){
    .contenedor{
        margin-bottom: 30px;
        margin-top: 30px;
        margin-right: 30px;
        margin-left: 30px;
    }    
    .ingresotexto__sup{
        height: 280px;
        width: auto;
    }
    .ingresotexto__inf{
        height: 40%;
        width: auto;
    }
    .ingresotexto__inf__botones{
        flex-direction: column;
        justify-content: space-between;
    }
    .ingresotexto__inf__botones__boton1,
    .ingresotexto__inf__botones__boton2{
        width: 100%;
    }
    .ingresotexto__inf__botones__boton1{
        margin-bottom: 20px;
    }
    footer{
        font-size: 0.8rem;
    }

}